<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    </head>
    <body>
        <h1>edit Restaurant</h1>
        <form action={{url_for('editRestaurant', restaurant_id=restaurant[1] )}} method="POST">
            <label>Name</label><input type="text" name='name' placeholder="{{restaurant[0]}}">
            <input type="submit" value="Edit">
            <a href={{url_for('restaurants')}}>Cancel [X]</a>
        </form>
    </body>
</html>